html, body {
    height: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

body {
    background-color: #F7F7F6;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

#main {
    height: 100%;
}


/* Head Styles */
#header-container {
    z-index: 1000;
    position: fixed;
    margin-left: 0px;
    width: 100%;
    left: 0px;
}

#header-container #header {
    background-color: #373737;
    width: 100%;
}

#header-container #header .navbar-brand {
    line-height: 12px !important;
}

#header-container #header #logo {
    float: left;
    padding: 0 20px;
}

#header-container #header #logo a {
    color: #8e8e8e;
}


/* Content Styles */
#main-container {
    width: 100%;
    background-color: #f7f7f6;
    font-size: 13px;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

#main-container  {
    top: 42px;
    min-height: 500px;
}

#main-container #content-wrapper #headerbar {
    background: #FFF;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(238, 238, 238, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    border-bottom: 1px solid #DDD;
    padding: 8px 20px;
    height: 50px;
    z-index: 1000;
    position: fixed;
    top: 42px;
    margin-left: 0px;
    width: 100%;
    left: 0px;
}


/* Footer Styles */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: #FFF;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(238, 238, 238, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    border-top: 1px solid #DDD;
    text-align: center;
}

footer p {
    text-align: center;
}


/* Glyphicons */
.fa-1x{font-size: 1em;}.fa-2x{font-size: 2em;}
.fa-3x{font-size: 3em;}
.fa-4x{font-size: 4em;}
.fa-5x{font-size: 5em;}



.article-parent-box {
    float: left;
}

.article-parent-box .span4 {
    min-width: 375px;
    min-height: 230px;
    position: relative;
}

.article-parent-box .span5 {
    font-size: 10px;
    width: 200px;
    margin: 0;
    float: left;
}

.article-parent-box .article-pic {
    float: right;
}

.article-parent-box .article-pic img {
    margin-left: 0 !important;
}

.article-disabled-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #B3B3B3;
    border-radius: 4px;
}

.article-pic-box {
    background-color: #FFF;
    display: block;
    padding: 15px;
    margin: 10px 10px 0 0;
    line-height: 16px;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 188px;
}

.article-main {
    margin: 0 auto;
    max-width: 89%
}

@media screen and (min-width: 850px) and (max-width: 1399px) {
    .article-main {
        margin: 0 auto;
        width: 834px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1680px) {
    .article-main {
        margin: 0 auto;
        width: 1251px;
    }
}

@media screen and (min-width: 1681px) and (max-width: 2000px) {
    .article-main {
        margin: 0 auto;
        width: 1668px;
    }
}

.article-box {
    background-color: white;
    display: block;
    padding: 15px;
    margin: 10px 10px 0 10px;
    line-height: 16px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

.article-box.disabled {
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.article-box:hover, .article-box:focus {
    border: 1px solid #0088cc;
    cursor: pointer;
}

.article-box .article-inner-content {
    position: relative;
}

.article-box .id-container {
    /*position: absolute;
    right: 20px;
    top: 0;*/
    background-color: #EDEDED;
    padding: 5px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #777;
}

.article-box .id-container .pull-right span.badge {
    line-height: 13px;
}

#css-table {
    display: table;
}

#css-table .col {
    display: table-cell;
    width: 25%;
    padding: 10px;
}

.article-box .article-text {
    line-height: 15px;
    font-weight: normal;
}

.article-header {
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    margin-top: 13px;
    padding-bottom: 5px;
}

.article-subheader {
    color: #999;
    font-size: 14px;
    padding-bottom: 10px;
}

.article-price {
    padding-top: 8px;
    width: 283px;
    font-weight: bold;
    font-size: 18px;
    float: left;
}

.article-price-no-price {
    padding-top: 8px;
    width: 283px;
    font-size: 13px;
    font-weight: bold;
    float: left;
}

.article-bottom {
    position: absolute;
    bottom: 15px;
}

.article-upload-button {
    margin-left: 5px;
    margin-right: 5px;
    width: 140px !important;
    float: left;
}